.site-header {
    color: #74b1be;
    background-color: #2f3241;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-color: #1a1b23;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}
.site-header nav a {
    padding-left: 30px;
}
.site-header nav a:link, a:active {
    text-decoration: none;
    color: white;
}
.site-header nav a:visited {
    text-decoration: none;
    color: white;
}
.site-header nav a:hover {
     color: pink;
}
.intro {
    height: 100px;
    padding: 20px 0 70px 0;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 70px;
    padding-left: 0px;
    background-color: #9aa3a3; 
    background-attachment: fixed, fixed, fixed, scroll;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

h2 {
    padding-bottom: 55px;
}
ul {
    text-align: left;
}
.beard {
    width: 175px;
    height: 190px;
    position:fixed;
    top: 77px;
    left: 0;
    border:black 10px ;
}
.meleft {
    width: 175px;
    height: 190px;
    position: fixed;
    top: 77px;
    right: 8px;
    border: black 10px;
}
.summary {
    font-size: 1.1em;
    background-color: #2f3241;
    color: white;
    font-weight: 60;
}